.instructions {
    display: block;
    background-color: white;
    color:rgb(3, 3, 193);
    text-align: left;
    margin: auto;
    padding:10px;
    width: 85%;
    margin-top:15px;
    
}
.instructions li {
    padding: 3px;
}
.instruct-li {
    font-size: 20px;
}
.brainimage {
    display: block;
    margin:auto;
    width:100%;
    margin-top:15px;
    text-align:center;
}
img {
    border-radius: 50%;
}
.signuplink {
    font-size:28px;
    display: block;
    height:35px !important;
    width:240px;
    margin-top:30px;
    margin-bottom:10px;
    margin:auto !important;
    color:white;
    text-align: center;
}
.description {
    display: inline;
}
.title-descrip {
    margin:auto !important;
    display:block;
    text-align: center;
    margin-bottom:60px !important;
}
h3 {
    margin-top:5px;
    margin-bottom:5px;
    margin:auto !important;
    display:block;
    text-align: center;
}

.loginlink {
    margin-top:30px;
    margin-bottom:30px;
    font-size: 28px;
    display:block;
    text-align: center !important;
    color: rgb(254, 254, 119);
}
@media only and screen ( min-width: 648px) {

    input {
        width: 50%;
    }
    .instructions {
        width: 50%;
        margin: 20px;
    }
}
/* change image and instruction to display block */
/* decrease FONT SIZE of Header in mobile */
@media only and screen (max-width: 600px) {
    .instructions {
        display:block;
        text-align: center;
        width:100%
    }
    .brainimage {
        display: block !important;
        margin: auto;
        width:100% !important;
    }
    .instructions {
        display:block !important;
        margin: auto;
        padding: 10px;
        border: 1px dotted red;
        width:100% !important;
    }
}