.instructions {
    display: inline-block;
    background-color: white;
    color:rgb(3, 3, 193);
    text-align: left;
    margin: 10px;
    padding:10px;
    width: 40%;
    border-radius: 5%;
}
.instructions li {
    padding: 3px;
}
.instruct-li {
    font-size: 20px;
}
.brainimage {
    display: inline-block;
    margin:20px;
    width:35%;
}
img {
    border-radius: 50%;
}
.signuplink {
    font-size: 28px;
    display: inline;
    height: 50px !important;
    margin:1px 5% 30% 20% !important;
    color:blue;

}
.description {
    display: inline;
}
.title-descrip {
    margin:auto !important;
}

.loginlink {
    font-size: 28px;
    display: inline;
    margin-left: 5%;
    color: rgb(254, 254, 119);
}
@media ( min-width: 648px) {

    input {
        width: 50%;
    }
    .instructions {
        width: 50%;
        margin: 20px;
    }
}