body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    height: 100%;
    width: 100%;
    /*color:rgb(26, 24, 24);*/
    /*background: linear-gradient(to top right, #2E3192 , #1BFFFF);*/
    background-color: white;
  }
  input {
    box-shadow: 2px 2px 2px;
  }
  .submitbtn {
    height: 30px;
    width: 60% !important;
    font-size: 1em;
    box-shadow: 2px 2px 2px;
}
.email-input {
  color: white !important;
}
.login-btn {
  width:60% !important;
  line-height: normal !important;
  display: block;
  text-align: center;
  margin:auto;
  margin-top:15px;
}
