nav {
    background-color: inherit !important;
    display: block;
    /*height: 100px; */
  }
.dropdown-btn {
    width:25% !important;
    float: right;
    height: 100% !important;
    margin-top: 0 !important;
}
.menu-item {
    color:black;
    padding:5px;
    text-align: center;
}
span.welcome-title-nav {
    padding-left: 10px;
}