signupform {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    height: 100%;
    width: 100%;
    color:white;
    background: linear-gradient(to top right, #2E3192 , #1BFFFF);
  }
h1 {
    padding-left: 25px;
    font: helvetica;
}
h2 {
    padding-left: 22%;
}

legend {
    text-align: center;
}
span {
    font: 1.5em helvetica;
    display: block;
    margin: 5px 0 5px 0;
}
.submitbtn {
    height: 30px;
    width: 100%;
    font-size: 1em;
    box-shadow: 2px 2px 2px;
}
button[type=submit] {
    margin:25px 20%;
    margin-bottom:60px !important;
    /*padding:10px 5px 5px 15px;*/
    background:rgb(49, 233, 33); 
    border:1 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px; 
    width: 80%;
}

input[type=submit]:hover {
    background-color: palegreen;
}
.neuronsimg {
    z-index: -1;
    position: absolute;
    margin:0 20%;
}
/* change inputs to white*/
.input-labels {
    color: #ffffff !important;
}

@media ( min-width: 648px) {
    span {
        display: block;
    }
    form {
        display: inline;
        text-align: center;
        color: rgba(245, 245, 245, 0.897);
    }
    input {
        max-width: 50%;
        height: 40px;
        font-size: 1.2em;
    }
    input[type=submit] {
        display: block;
        float: right;
        margin:10px 30%;
        padding: 5px 15px; 
        background:rgb(49, 233, 33); 
        border:1 none;
        cursor:pointer;
        -webkit-border-radius: 5px;
        border-radius: 5px; 
        width: 40%;
    }
    input[type=submit]:hover {
        background-color: palegreen;
    }

}