.btn-group button {
    background-color: rgb(15, 255, 63); /* Green background */
    border: 1px solid green; /* Green border */
    color: black; /* White text */
    font-size: 1.1em;
    font-family: helvetica,sans-serif;
    padding: 10px 24px; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */
    width: 50%; /* Set a width if needed */
    display: block; /* Make the buttons appear below each other */
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.5), inset 0px 0px 2px rgba(154, 147, 113, 0.95);
}

/* changing cursor to point */
.pointer {
    cursor: pointer;
}
.symptom-selector {
    cursor: pointer;
}
.btn-group {
    margin:0 20px 25px; 
}

.btn-group button:not(:last-child) {
    border-bottom: none; /* Prevent double borders */
}

/* Add a background color on hover */
.btn-group button:hover {
    background-color: #3e8e41;
}
.form-section {
    display: block;
    margin:5px 60px 5px; 
}
.record-day {
    margin-bottom: 100px;
}
/* .btn {
    margin-top: 10px;
    margin-left:auto;
    margin-right:auto;
    margin-bottom: 50px;
    height: 30px;
    width: 40%;
    font-size: 1.2em;
    box-shadow: 2px 2px 2px;
    background-color: rgb(47, 255, 75)
} */
.submit-btn {
    display:block;
    text-align: center;
}
.slider#myPainRange {
    -webkit-appearance: none;
    width: 70%;
    height: 15px;
    border-radius: 5px;   
    background: #dedede;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    text-align: center;
    margin:auto;
    display: block;
    margin-bottom: 20px;
    margin-top: 20px;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%; 
    background: #4CAF50;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}
.painslider {
    margin: auto;
    display:block;
    text-align: center;
}

.symptomselector {
    width: 260px;
    font-size: 1.5em;
    font-family: Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
    border: solid silver;
    margin: 20px;
    border-radius: 5%;
}
.text-area-label {
    font-size: 20px;
    display:block;
    margin-bottom:15px;
    padding:1px;
    color:white !important;
}
.other-symptom-summary {
    margin-top: 10px !important;
    font-size: .8em;
    width: 70% !important;
}
.label-rate-pain {
    font-size: 1em;
    color:white !important;
}
.input-field {
    width:100% !important;
}
.hiddenElement {
    display : none;
  }
@media ( min-width: 648px) {
    .symptomselector {
        width:60%;
        margin:20px auto;
    }
    .other-symptom-summary {
        font-size: 1em;
    }
    .form-section {
        margin: auto;
    }
}